In [1]:
# Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
# MongoDB over SQL databases?

### Solution 1-

<span style = 'font-size:0.8em;'>
MongoDB is a popular open-source NoSQL (non-relational) database management system. Unlike traditional SQL databases, which organize data in tables and rows, MongoDB stores data in flexible, JSON-like documents with dynamic schemas, known as BSON. This allows for more agile and scalable data storage.

Non-relational databases, also known as NoSQL databases, offer flexible data models, scalability, and high performance compared to traditional relational databases. They excel in handling unstructured and semi-structured data, scale horizontally, and prioritize availability and partition tolerance over strict consistency. This makes them suitable for modern applications requiring agility, scalability, and diverse data types.

Non-relational databases like MongoDB are preferred in scenarios where:

1. **Scalability**: MongoDB can easily scale out horizontally by adding more servers, making it suitable for handling large amounts of data and high traffic loads.

2. **Flexibility**: The schema-less nature of MongoDB allows for the storage of heterogeneous data types and easy modification of data structures, making it ideal for applications with evolving requirements.

3. **Fast Iteration**: Development cycles can be faster with MongoDB due to its flexible schema and ability to store complex, nested data structures without the need for complex joins.

4. **Big Data**: MongoDB excels in storing and processing unstructured or semi-structured data typical in big data applications, such as IoT, social media analytics, and content management systems.

5. **Real-time Analytics**: For applications requiring real-time data analytics and fast querying, MongoDB's ability to index any attribute within documents and support for complex queries can be advantageous.

In summary, MongoDB is preferred over SQL databases in scenarios requiring scalability, flexibility, fast iteration, handling of big data, and real-time analytics, while SQL databases may be preferred for applications requiring strong data consistency, structured data, complex joins, and a mature ecosystem.
</span>

In [ ]:
# Q2. State and Explain the features of MongoDB.

### Solution 2-

<span style = font-size:0.8em;>
MongoDB's features empower developers to build scalable, flexible, and high-performance applications that can handle diverse data types and workloads with ease.<br>
        
MongoDB, as a leading NoSQL database, offers several key features that make it popular for modern application development:

1. **Flexible Schema**: MongoDB employs a dynamic schema approach, allowing documents in a collection to have different structures. This flexibility enables developers to evolve their data models over time without downtime or migrations, accommodating changing application requirements.

2. **JSON-like Documents**: Data in MongoDB is stored in a binary-encoded format called BSON (Binary JSON), which is a superset of JSON (JavaScript Object Notation). BSON documents support rich data types, including strings, numbers, arrays, and nested objects, making it suitable for storing complex and hierarchical data structures.

3. **Scalability**: MongoDB is designed to scale horizontally across multiple servers or nodes, enabling seamless distribution of data and workload. It supports sharding, which partitions data across multiple shards (physical or virtual servers), and replication, which ensures high availability and fault tolerance by maintaining multiple copies of data across nodes.

4. **High Performance**: MongoDB offers high-performance read and write operations by leveraging features such as in-memory caching, efficient storage engines (like WiredTiger), and parallel query execution. It also supports indexes, including compound indexes and geospatial indexes, to optimize query performance.

5. **Rich Query Language**: MongoDB provides a powerful query language that supports a wide range of operations, including CRUD (Create, Read, Update, Delete) operations, aggregation, text search, geospatial queries, and more. Developers can express complex queries using MongoDB's expressive query syntax and operators.

6. **Automatic Failover**: MongoDB's replica sets feature provides automated failover and data redundancy by maintaining multiple copies of data across nodes within a cluster. In the event of a primary node failure, MongoDB automatically promotes a secondary node to primary, ensuring continuous availability and minimal downtime.

7. **Security Features**: MongoDB offers various security features to protect data and ensure compliance with privacy regulations. These include authentication mechanisms (such as LDAP, Kerberos, and x.509 certificates), access control lists (ACLs), encryption at rest and in transit, auditing, and role-based access control (RBAC).

8. **Aggregation Framework**: MongoDB's aggregation framework enables developers to perform complex data aggregation and transformation tasks directly within the database. It provides a set of pipeline stages and operators for grouping, filtering, sorting, projecting, and computing aggregate values on large datasets.

</span>

In [2]:
# Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

### Solution 3-

In [5]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://sreza866:subhanreza@cluster0.lqetryo.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")
db = client.test

In [4]:
client

MongoClient(host=['ac-q0nnibw-shard-00-00.lqetryo.mongodb.net:27017', 'ac-q0nnibw-shard-00-01.lqetryo.mongodb.net:27017', 'ac-q0nnibw-shard-00-02.lqetryo.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='Cluster0', authsource='admin', replicaset='atlas-82uu9x-shard-0', tls=True)

In [6]:
client = pymongo.MongoClient("mongodb+srv://sreza866:subhanreza@cluster0.lqetryo.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")

In [7]:
db = client['Employee']

In [8]:
coll_create = db['Engineering']

In [ ]:
# Q4. Using the database and the collection created in question number 3, write a code to insert one record,
# and insert many records. Use the find() and find_one() methods to print the inserted record.

### Solution 4-

In [11]:
# Insert one record
data = {"name": "David", "age": 40, "city": "Berlin", "designation": "Project Manager"}

In [12]:
coll_create.insert_one(data)

InsertOneResult(ObjectId('66287f628a1c504c20db08c9'), acknowledged=True)

In [9]:
# Insert many records
employee_records = [
    {
        "name": "Alice",
        "age": 28,
        "city": "London",
        "designation": "Software Engineer"
    },
    {
        "name": "Bob",
        "age": 35,
        "city": "New York",
        "designation": "Data Scientist"
    },
    {
        "name": "Charlie",
        "age": 32,
        "city": "San Francisco",
        "designation": "Product Manager"
    }
]

In [10]:
coll_create.insert_many(employee_records)

InsertManyResult([ObjectId('66287e168a1c504c20db08c6'), ObjectId('66287e168a1c504c20db08c7'), ObjectId('66287e168a1c504c20db08c8')], acknowledged=True)

In [13]:
# Using find() method
for i in coll_create.find():
    print(i)

{'_id': ObjectId('66287e168a1c504c20db08c6'), 'name': 'Alice', 'age': 28, 'city': 'London', 'designation': 'Software Engineer'}
{'_id': ObjectId('66287e168a1c504c20db08c7'), 'name': 'Bob', 'age': 35, 'city': 'New York', 'designation': 'Data Scientist'}
{'_id': ObjectId('66287e168a1c504c20db08c8'), 'name': 'Charlie', 'age': 32, 'city': 'San Francisco', 'designation': 'Product Manager'}
{'_id': ObjectId('66287f628a1c504c20db08c9'), 'name': 'David', 'age': 40, 'city': 'Berlin', 'designation': 'Project Manager'}

In [14]:
# using find_one() method
coll_create.find_one()

{'_id': ObjectId('66287e168a1c504c20db08c6'),
 'name': 'Alice',
 'age': 28,
 'city': 'London',
 'designation': 'Software Engineer'}

In [15]:
# Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
# demonstrate this.

### Solution 5-

<span style = font-size:0.8em;>
The find() method in MongoDB is used to query documents from a collection based on specified criteria. It returns a cursor object that allows you to iterate over the matching documents.
</span>

In [16]:
#  finding the documents where the age field is greater than or equal to 30. 
for i in coll_create.find({'age':{'$gte':30}}):
    print(i)

{'_id': ObjectId('66287e168a1c504c20db08c7'), 'name': 'Bob', 'age': 35, 'city': 'New York', 'designation': 'Data Scientist'}
{'_id': ObjectId('66287e168a1c504c20db08c8'), 'name': 'Charlie', 'age': 32, 'city': 'San Francisco', 'designation': 'Product Manager'}
{'_id': ObjectId('66287f628a1c504c20db08c9'), 'name': 'David', 'age': 40, 'city': 'Berlin', 'designation': 'Project Manager'}

In [17]:
# Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

### Solution 6-

<span style = font-size:0.8em;>

The `sort()` method in MongoDB is used to sort the documents returned by a query based on one or more fields in ascending or descending order. It allows you to control the order in which the documents are returned.

Syntax: sort(<field or list of fields>, <direction>)
<field or list of fields>: Specifies the field(s) to sort by. You can pass a single field or a list of fields to sort by multiple fields.
<direction>: Specifies the sort order, which can be either 1 (ascending) or -1 (descending). By default, sorting is done in ascending order if the direction is not specified.
</span>

In [18]:
# Example
# Querying documents from the 'employees' collection and sorting them by the 'age' field in descending order

for i in coll_create.find().sort("age", -1):
    print(i)

{'_id': ObjectId('66287f628a1c504c20db08c9'), 'name': 'David', 'age': 40, 'city': 'Berlin', 'designation': 'Project Manager'}
{'_id': ObjectId('66287e168a1c504c20db08c7'), 'name': 'Bob', 'age': 35, 'city': 'New York', 'designation': 'Data Scientist'}
{'_id': ObjectId('66287e168a1c504c20db08c8'), 'name': 'Charlie', 'age': 32, 'city': 'San Francisco', 'designation': 'Product Manager'}
{'_id': ObjectId('66287e168a1c504c20db08c6'), 'name': 'Alice', 'age': 28, 'city': 'London', 'designation': 'Software Engineer'}

In [19]:
# Q7. Explain why delete_one(), delete_many(), and drop() is used.

### Solution 7-

<span style = 'font-size:0.8em;'>
    
In MongoDB, the `delete_one()`, `delete_many()`, and `drop()` methods are used to remove documents or collections from a database.

1. **`delete_one()`**: This method is used to delete a single document from a collection that matches a specified filter. It removes the first document that matches the given filter criteria. If multiple documents match the filter, only the first one encountered is deleted.

2. **`delete_many()`**: This method is used to delete multiple documents from a collection that match a specified filter. It removes all documents that match the given filter criteria.

3. **`drop()`**: This method is used to drop or delete an entire collection from the database. It removes the collection itself along with all its indexes and documents. Dropping a collection is irreversible and permanently removes all data stored within it.

It's essential to use these methods with caution, especially when using `delete_many()` and `drop()`, as they can lead to permanent data loss if used incorrectly.
</span>

In [21]:
# Example of delete_one()
# Deleting a single document from the 'employees' collection where the age is 40
result = coll_create.delete_one({"age": 40})
print(result)

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000004'), 'opTime': {'ts': Timestamp(1713933112, 13), 't': 4}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1713933112, 13), 'signature': {'hash': b"\xcd\xfc\xba\x9fG\xf8'\x82\x8a\x179\x8f\xfd\x05\xe4\x7f\x90\x88\xce\x9a", 'keyId': 7360031837336371205}}, 'operationTime': Timestamp(1713933112, 13)}, acknowledged=True)

In [22]:
# No records for 40 
for i in coll_create.find():
    print(i)

{'_id': ObjectId('66287e168a1c504c20db08c6'), 'name': 'Alice', 'age': 28, 'city': 'London', 'designation': 'Software Engineer'}
{'_id': ObjectId('66287e168a1c504c20db08c7'), 'name': 'Bob', 'age': 35, 'city': 'New York', 'designation': 'Data Scientist'}
{'_id': ObjectId('66287e168a1c504c20db08c8'), 'name': 'Charlie', 'age': 32, 'city': 'San Francisco', 'designation': 'Product Manager'}

In [24]:
# Example of delete_many()
# Deleting multiple documents from the 'employees' collection where the age is less than or equal to 30
result = coll_create.delete_many({"age": {"$lte": 30}})
print(result)

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000004'), 'opTime': {'ts': Timestamp(1713933271, 4), 't': 4}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1713933271, 4), 'signature': {'hash': b'\xeb\x80\xe13e\xd9\x0f\xa8\xea\xae\xa9\x86p\x1dKI\x16\xdf\xc6\xd4', 'keyId': 7360031837336371205}}, 'operationTime': Timestamp(1713933271, 4)}, acknowledged=True)

In [25]:
# No records for less than 30 
for i in coll_create.find():
    print(i)

{'_id': ObjectId('66287e168a1c504c20db08c7'), 'name': 'Bob', 'age': 35, 'city': 'New York', 'designation': 'Data Scientist'}
{'_id': ObjectId('66287e168a1c504c20db08c8'), 'name': 'Charlie', 'age': 32, 'city': 'San Francisco', 'designation': 'Product Manager'}

In [26]:
# Example of drop()
# Dropping the 'employees' collection
coll_create.drop()

In [27]:
# No records 
for i in coll_create.find():
    print(i)